@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 4000px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.main_screen {
  height: 100vh;
  background: url("../img/sakura.png") center no-repeat #f0f0e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_screen_grass img {
  position: fixed;
  bottom: 0;
  right: 0;
  transform-origin: bottom;
}

.main_screen_woman img {
  position: fixed;
  bottom: 0;
  left: 30px;
}

.main_title_wrap {
  width: 100%;
  align-self: center;
}

.main_title_back {
  margin-left: 10%;
  //background-color: darkgrey;
  height: 40px;
  text-align: center;
  width: 80%;
}


.main_title {
  font-size: 24px;
  font-weight: 300;
  text-indent: 5px;
  text-transform: uppercase;
  line-height: 40px;
  width: 100%;
  z-index: 1;
}



